In [3]:
import xcsc_tushare as xc
xc.set_token('46bdf7d82c47b052e98dd679b127213dda710cf6545ffdfd9f2e64d6')
pro =xc.pro_api(env='prd',server='http://116.128.206.39:7172')

data = pro.query('stock_basic', exchange='', list_status='L', fields='ts_code,symbol,name,list_date')

In [4]:
data

        ts_code  symbol  name list_date
0     430047.BJ  430047  诺思兰德  20201124
1     430090.BJ  430090  同辉信息  20210809
2     430139.BJ  430139  华岭股份  20221028
3     430198.BJ  430198  微创光电  20200727
4     430300.BJ  430300  辰光医疗  20221207
...         ...     ...   ...       ...
7630  A23038.SZ  A23038  矽递科技      None
7631  A23039.SZ  A23039  华茂伟业      None
7632  A23042.SZ  A23042  海康机器      None
7633  A23044.SZ  A23044  潍柴雷沃      None
7634  A23047.SZ  A23047  新亚电缆      None

[7635 rows x 4 columns]